<html>
  <head>
    <title><%- title %></title>
    <style>
      body {
        margin: 0;
      }
      /* Links */
      a {
        display: inline-block;
        padding: 10px;
        border-bottom: 3px solid transparent;
        color: black;
        text-decoration: none;
      }
      a:hover {
        border-bottom: 3px solid red;
      }
      a.active {
        border-bottom: 3px solid blue;
      }
      
      /* User profile */
      a.user {
        border: 3px solid transparent;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        padding: 0;
      }
      a.user:hover {
        border: 3px solid rgb(220,220,220);
      }
      
      /* Footer */
      footer {
        background: rgb(180,180,180);
        text-align: center;
        color: white;
      }
    </style>
  </head>
  <body>
    <div style='display: none;'>
      <p id='img'><%- img %>
    </div>
    <nav>
      <a href='/'>Home</a>
      <a href='/api'>API</a>
      <a href='/signin'>Sign in</a>
      <a href='/signup'>Sign up</a>
      <a class='user' href='/profile'><img id='user'></a>
    </nav>
    <% include(file) %>
    <footer>
      <p>&copy; 2021 by Popp</p>
      <p>Made by: Seth Cooper</p>
    </footer>
    <script>
      document.getElementById('user').src = document.getElementById('img').textContent;
    </script>
  </body>
</html>
